<section>
  <div class="row">
    <div class="col-12">
      
    </div>
    <div class="col">
      <article class="item">
        <!-- <img src="assets/xayde/animation_iPad3.gif" alt="gif"> -->
        <figure class="preview-img">
          <!-- The preview image of the project -->
          <div>.</div>
        </figure>
        <figure class="preview-img">
          <div>.</div>
        </figure>
        <h5>{{ item.title }}</h5>
        
      </article> <!-- end .item -->
    </div> <!-- end .col -->
  </div> <!-- end .row -->
</section>
