@font-face {
    font-family: 'Biko-black';
    src: url('./Biko/Biko_Black.otf') format("opentype");
}

@font-face {
    font-family: 'Biko-regular';
    src: url('./Biko/Biko_Regular.otf') format("opentype");
}