<!-- <navigation></navigation> -->
<!--Burger menu-->
<nav class="mobile-nav shadow-sm mb-md-5 mb-sm-3 mb-xs-1 backdrop-blur">
    <button type="button" (click)="toggleMenu()" class="d-flex flex-column justify-content-between menu" [ngClass]="{'open': isOpened}">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <div class="title text-center">{{ title }}</div>
</nav>
<!--/Burger Menu-->
<app-sidenav [isOpened]="isOpened" (selected)="onSelect()"></app-sidenav>
<main id="main" [ngClass]="{'open': isOpened}">
    
    <router-outlet></router-outlet>
</main>

<!-- <mat-sidenav-container >
        <mat-sidenav #leftSide mode="side" opened class="text-center d-none d-sm-block">
            <a routerLink="/" mat-button class="logo" color="primary" (click)="log(o)">
                <img src="assets/MIND_LOGO.png" alt="Logo" class="img-fluid">
            </a>
            <mat-nav-list *ngFor="let link of links">
                <app-link [link]="link"></app-link>
            </mat-nav-list>
        </mat-sidenav> -->
        <!-- <mat-sidenav #rightSide mode="side" opened position="end" class="text-center">
            <a routerLink="/">Home</a>
        </mat-sidenav> -->
    
        <!-- Body -->
        <!-- <main @fadeInAnimation> -->
            <!-- <router-outlet></router-outlet> -->
        <!-- </main> -->
        <!-- <router-outlet></router-outlet>
    </mat-sidenav-container> -->


    <!-- header -->
<!-- <header>
        <ul class="nav nav-tabs">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
        </ul>
    </header>
    
    <main>
        <router-outlet></router-outlet>
    </main> -->
    
    <!-- footer -->
     <!-- <footer>
        <p>
            <a href="http://jasonwatmore.com/post/2017/04/19/angular-2-4-router-animation-tutorial-example" target="_top">Angular 2/4 - Router Animation Tutorial & Example</a>
        </p>
        <p>
            <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
        </p>
    </footer> -->


